# JetBrains IDEs project files
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


# Linux
*~
.nfs*

# VSCode
.vscode/*
!.vscode/extensions.json

# NodeJS
node_modules/

# Virtual environment
venv/
ENV/
env/
.venv/
