.navToolbar{
    justify-content: space-between;
    margin-left: 2rem;
}

.logo{
    padding: 5px;
}

.grouped{
    position: relative;
    display: inline-block;
}

.groupTwo{
    display: flex;
    gap: 1rem;
}