.navbar {
  z-index: 10;
}


.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    height: 70vh;
    width: 100vw;
    min-width: 100vw;
    background-image: url('../public/Summer2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.window {
    font-size: 5vw;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
}



.cards{
    height:30%;
    background-color: brown;
}

