.placeDiv{
    background-color: gray;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 150px;
    min-width: 0;
    text-align: center;
}

#placeName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}